.media-library-item--disabled {
  pointer-events: none;
  opacity: 0.5; }

.media-library-widget-modal .messages--error {
  background-color: transparent;
  color: #FF0066; }

.media-library-widget-modal #drupal-modal {
  padding: 0; }
  .media-library-widget-modal #drupal-modal #media-library-content {
    overflow: auto;
    padding: 32px 16px;
    background: #fff; }

.media-library-widget-modal #media-library-add-form-wrapper {
  padding: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  background: #fcfcfa;
  border-radius: 0; }
  .media-library-widget-modal #media-library-add-form-wrapper .form-type-managed-file {
    padding: 0;
    margin: 0px; }
  .media-library-widget-modal #media-library-add-form-wrapper .form-item-upload {
    margin-bottom: 0; }

.media-library-widget-modal #media-library-view .view-media-library {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.media-library-widget-modal #media-library-view .view-filters {
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 auto !important;
      -ms-flex: 0 0 auto !important;
          flex: 0 0 auto !important; }
  .media-library-widget-modal #media-library-view .view-filters .views-exposed-form .form-row {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0; }
    .media-library-widget-modal #media-library-view .view-filters .views-exposed-form .form-row .js-form-item {
      padding: 0px 8px 0px 0px; }
      .media-library-widget-modal #media-library-view .view-filters .views-exposed-form .form-row .js-form-item select {
        padding: 0 24px; }
    .media-library-widget-modal #media-library-view .view-filters .views-exposed-form .form-row .form-submit {
      background-color: #00AAFF;
      border-color: #00AAFF;
      color: #fff; }

.media-library-widget-modal #media-library-view .view-header {
  margin: 16px 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.media-library-widget-modal #media-library-view .view-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0; }
  .media-library-widget-modal #media-library-view .view-content .views-form {
    width: 100%; }
  .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .js-media-library-item {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 8px;
      border: 1px solid #dbdbdb;
      background-color: #ebebeb;
      margin-right: 12px;
      margin-bottom: 12px;
      position: relative; }
      .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .js-media-library-item .views-field-media-library-select-form {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 1; }
        .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .js-media-library-item .views-field-media-library-select-form .js-form-type-checkbox label {
          display: none; }
    .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .form-actions {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .form-actions .form-submit {
        background-color: #38D42D;
        border-color: #38D42D;
        color: #FFFFFF; }
        .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .form-actions .form-submit:hover, .media-library-widget-modal #media-library-view .view-content .js-media-library-views-form .form-actions .form-submit:focus {
          background-color: #fff;
          color: #38D42D; }
  .media-library-widget-modal #media-library-view .view-content .js-click-to-select-trigger {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    background-color: #ebebeb; }
    .media-library-widget-modal #media-library-view .view-content .js-click-to-select-trigger article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
    .media-library-widget-modal #media-library-view .view-content .js-click-to-select-trigger .field--name-thumbnail {
      overflow: hidden;
      text-align: center;
      padding-bottom: 16px; }

.media-library-widget-modal #media-library-view nav[aria-label="Page navigation"] .pagination {
  margin: 0; }
  .media-library-widget-modal #media-library-view nav[aria-label="Page navigation"] .pagination .page-item .page-link {
    border-color: transparent;
    color: #757575; }
    .media-library-widget-modal #media-library-view nav[aria-label="Page navigation"] .pagination .page-item .page-link:hover, .media-library-widget-modal #media-library-view nav[aria-label="Page navigation"] .pagination .page-item .page-link:focus {
      background-color: transparent; }
  .media-library-widget-modal #media-library-view nav[aria-label="Page navigation"] .pagination .page-item a span {
    color: #00AAFF; }
