p {
  white-space: break-spaces; }

.node-layout-builder-form #edit-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 501;
  background-color: #4d4d4f;
  padding: 10px 0px; }
  .node-layout-builder-form #edit-actions #edit-preview-toggle {
    display: none; }
  .node-layout-builder-form #edit-actions button,
  .node-layout-builder-form #edit-actions input {
    border: none;
    border-radius: 0;
    margin: 0px 5px;
    display: inline-block;
    width: auto; }
    .node-layout-builder-form #edit-actions button#edit-submit,
    .node-layout-builder-form #edit-actions input#edit-submit {
      background-color: #38D42D; }
    .node-layout-builder-form #edit-actions button#edit-discard-changes,
    .node-layout-builder-form #edit-actions input#edit-discard-changes {
      background-color: #00AAFF; }
    .node-layout-builder-form #edit-actions button#edit-revert,
    .node-layout-builder-form #edit-actions input#edit-revert {
      background-color: #FF0066; }
    .node-layout-builder-form #edit-actions button:hover, .node-layout-builder-form #edit-actions button:focus,
    .node-layout-builder-form #edit-actions input:hover,
    .node-layout-builder-form #edit-actions input:focus {
      opacity: 0.8; }

.layout-builder-form .js-form-item {
  padding: 0; }

.layout-builder {
  border: 0;
  padding: 0; }

.layout-builder__section {
  padding: 0;
  margin-bottom: 0; }
  .layout-builder__section .layout-builder__link--configure {
    margin-left: -1px;
    border-radius: 0px;
    background: url(../images/pencil.svg) #38D42D center center/16px 16px no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 26px;
    height: 26px; }
  .layout-builder__section > section {
    margin: 8px 0; }

.layout-builder__add-block {
  background-color: transparent; }
  .layout-builder__add-block .layout-builder__link {
    position: relative;
    display: inline-block;
    background-color: #00AAFF;
    border: 1px solid #00AAFF;
    color: white;
    padding: 6px 32px; }
    .layout-builder__add-block .layout-builder__link:after {
      width: 15px;
      height: 15px;
      content: "";
      background: url(../images/plus.svg) transparent center center/15px 15px no-repeat;
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translate(0px, -50%);
           -o-transform: translate(0px, -50%);
              transform: translate(0px, -50%); }
    .layout-builder__add-block .layout-builder__link:hover {
      background-color: transparent;
      color: #00AAFF; }
      .layout-builder__add-block .layout-builder__link:hover:after {
        background: url(../images/block-plus.svg) transparent center center/15px 15px no-repeat; }

.layout-builder__link--add {
  background: unset; }

.layout-builder__link--remove {
  margin-left: -1px;
  border-radius: 0px;
  background: url(../images/ex.svg) #FF0066 center center/16px 16px no-repeat;
  border: 0px; }

.layout-builder__add-section {
  outline: 1px dashed #ccc;
  margin-bottom: 0;
  margin: 4px 0;
  padding: 16px 0; }
  .layout-builder__add-section .layout-builder__link {
    border: 1px solid #38D42D;
    background-color: #38D42D;
    color: white;
    position: relative;
    padding: 4px 32px; }
    .layout-builder__add-section .layout-builder__link:after {
      width: 15px;
      height: 15px;
      content: "";
      background: url(../images/plus.svg) transparent center center/15px 15px no-repeat;
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translate(0px, -50%);
           -o-transform: translate(0px, -50%);
              transform: translate(0px, -50%); }
    .layout-builder__add-section .layout-builder__link:hover {
      background-color: transparent;
      color: #38D42D; }
      .layout-builder__add-section .layout-builder__link:hover:after {
        background: url(../images/section-plus.svg) transparent center center/15px 15px no-repeat; }

.layout-builder__region {
  outline: 3px dashed #00AAFF; }

.layout-builder-block {
  background-color: transparent; }

.layout-builder--content-preview-disabled .layout-builder-block {
  outline: 1px dashed #ccc;
  border: 0px; }

.layout-builder__add-block.is-layout-builder-highlighted,
.layout-builder__add-section.is-layout-builder-highlighted,
.layout-builder__layout.is-layout-builder-highlighted:before,
.layout-builder__layout.is-layout-builder-highlighted,
.layout-builder-block.is-layout-builder-highlighted {
  border: 4px solid #38D42D; }

.ui-dialog.ui-corner-all {
  background: none;
  border: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .ui-dialog.ui-corner-all #drupal-off-canvas {
    top: 0 !important;
    position: relative;
    background-color: #f7f7f7;
    padding: 15px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas * {
      background-color: #f7f7f7;
      color: #333; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .inline-block-create-button {
      margin-bottom: 16px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .inline-block-list__item {
      padding: 0;
      margin: 0; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .inline-block-create-button {
      margin: 0; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-text,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-tel,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-email,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-url,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-search,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-number,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-color,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-file,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-textarea,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-date,
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-time {
      background: white;
      -webkit-box-shadow: unset;
              box-shadow: unset;
      border: 1px solid #d2d2d2; }
    .ui-dialog.ui-corner-all #drupal-off-canvas ul li {
      border-bottom: 0; }
    .ui-dialog.ui-corner-all #drupal-off-canvas img {
      max-width: 70px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas details.form-wrapper {
      margin: 0;
      padding: 0; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .js-form-type-checkbox,
    .ui-dialog.ui-corner-all #drupal-off-canvas .js-form-type-radio {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 8px 0; }
      .ui-dialog.ui-corner-all #drupal-off-canvas .js-form-type-checkbox label,
      .ui-dialog.ui-corner-all #drupal-off-canvas .js-form-type-radio label {
        padding-left: 8px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .form-group {
      padding: 0px;
      width: 100%; }
    .ui-dialog.ui-corner-all #drupal-off-canvas details,
    .ui-dialog.ui-corner-all #drupal-off-canvas summary,
    .ui-dialog.ui-corner-all #drupal-off-canvas .details-wrapper {
      margin: 0px -25px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas details[open] > summary:hover {
      background-color: transparent;
      color: #333; }
    .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper {
      margin: 0px -10px;
      padding: 0px 20px; }
      .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .details-wrapper {
        margin-top: 10px;
        margin-bottom: 10px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .form-check,
    .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .form-check {
      padding: 0;
      margin: 10px 0px; }
      .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .form-check input,
      .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .form-check label,
      .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .form-check input,
      .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .form-check label {
        display: inline-block;
        vertical-align: middle; }
        .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .form-check input.form-check,
        .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .form-check label.form-check,
        .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .form-check input.form-check,
        .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .form-check label.form-check {
          width: 90%; }
    .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-group .js-form-type-select select,
    .ui-dialog.ui-corner-all #drupal-off-canvas form.layout-builder-configure-section .form-wrapper .js-form-type-select select {
      width: 100%; }
    .ui-dialog.ui-corner-all #drupal-off-canvas select {
      -webkit-appearance: none;
      -moz-appearance: none; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .ui-dialog-off-canvas {
      overflow: scroll; }
    .ui-dialog.ui-corner-all #drupal-off-canvas ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .ui-dialog.ui-corner-all #drupal-off-canvas a {
      color: #00AAFF;
      text-align: center;
      font-size: 14px; }
      .ui-dialog.ui-corner-all #drupal-off-canvas a.use-ajax {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .ui-dialog.ui-corner-all #drupal-off-canvas a.use-ajax img,
        .ui-dialog.ui-corner-all #drupal-off-canvas a.use-ajax div {
          display: inline-block; }
        .ui-dialog.ui-corner-all #drupal-off-canvas a.use-ajax div {
          margin-left: 8px; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .glyphicon {
      display: none; }
    .ui-dialog.ui-corner-all #drupal-off-canvas .ui-resizable-s {
      display: none !important; }
    .ui-dialog.ui-corner-all #drupal-off-canvas button.button,
    .ui-dialog.ui-corner-all #drupal-off-canvas input.button {
      position: relative;
      height: auto;
      padding: 6px 20px;
      border: 0;
      border-radius: 0;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease;
      background: #00AAFF;
      color: white;
      margin-top: 15px;
      display: block;
      width: 100%; }
      .ui-dialog.ui-corner-all #drupal-off-canvas button.button:hover, .ui-dialog.ui-corner-all #drupal-off-canvas button.button:focus,
      .ui-dialog.ui-corner-all #drupal-off-canvas input.button:hover,
      .ui-dialog.ui-corner-all #drupal-off-canvas input.button:focus {
        background: #333;
        color: #00AAFF; }
  .ui-dialog.ui-corner-all .ui-dialog-titlebar {
    padding: 16px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background: #2d2d2d;
    font-weight: normal; }
    .ui-dialog.ui-corner-all .ui-dialog-titlebar .ui-button-icon-only,
    .ui-dialog.ui-corner-all .ui-dialog-titlebar .ui-dialog-titlebar-close {
      background-image: url("../images/ex.svg");
      border: 0;
      background-position: center;
      background-color: transparent;
      width: 16px;
      height: 16px; }
      .ui-dialog.ui-corner-all .ui-dialog-titlebar .ui-button-icon-only .ui-icon-closethick,
      .ui-dialog.ui-corner-all .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
        background-image: unset; }

body:not(.path-user) nav.tabs {
  position: fixed;
  bottom: 50px;
  right: 30px;
  border-radius: 35px;
  z-index: 100; }
  body:not(.path-user) nav.tabs h2 {
    width: 70px;
    height: 70px;
    background: #333;
    border-radius: 35px;
    display: block;
    position: relative !important;
    text-indent: -30000px;
    margin: 0px;
    cursor: pointer;
    z-index: 100; }
    body:not(.path-user) nav.tabs h2:after {
      width: 70px;
      height: 70px;
      content: "";
      background: url(../images/pencil.svg) transparent center center/30px 30px no-repeat;
      display: block;
      position: absolute;
      top: 0px; }
  body:not(.path-user) nav.tabs .primary.nav-tabs {
    display: none;
    position: absolute;
    bottom: 35px;
    background-color: #4d4d4f;
    padding: 35px 0px 45px 0px;
    border: 0;
    z-index: 99;
    border-radius: 35px 35px 0px 0px;
    min-width: 70px; }
    body:not(.path-user) nav.tabs .primary.nav-tabs li {
      margin: 0;
      display: block;
      width: 100%;
      text-align: center; }
      body:not(.path-user) nav.tabs .primary.nav-tabs li a {
        font-size: 12px;
        border: 0;
        background-color: transparent;
        padding: 10px 8px;
        color: white; }
        body:not(.path-user) nav.tabs .primary.nav-tabs li a:hover {
          background-color: #444; }
      body:not(.path-user) nav.tabs .primary.nav-tabs li.active a {
        color: #00AAFF;
        text-align: center; }

body.path-user nav.tabs {
  display: none; }

.contextual-region.focus {
  outline: 1px dashed #4d4d4f;
  outline-offset: 5px; }

.view .contextual,
.node .contextual,
.taxonomy-term .contextual,
.block-content .contextual,
.field--name-field-image .contextual,
.field--name-field-media .contextual,
.field--name-field-seeds-banner .contextual {
  top: 5px;
  right: 0px;
  z-index: 99; }

.block-views > .contextual {
  display: none; }

.view > .contextual {
  top: -25px;
  overflow: visible; }
  .view > .contextual .trigger {
    background-image: url("../images/view.png"); }

.node header > .contextual,
.taxonomy-term header > .contextual {
  display: none; }

.node > .contextual .trigger,
.taxonomy-term > .contextual .trigger {
  background-image: url("../images/node.png"); }

.block-content .contextual .trigger {
  background-image: url("../images/gears.png"); }

div[class*="media"].field .contextual,
div[class*="image"].field .contextual,
.field--name-field-seeds-banner .contextual {
  left: 10px;
  right: auto; }
  div[class*="media"].field .contextual .trigger,
  div[class*="media"].field .contextual .focusable,
  div[class*="image"].field .contextual .trigger,
  div[class*="image"].field .contextual .focusable,
  .field--name-field-seeds-banner .contextual .trigger,
  .field--name-field-seeds-banner .contextual .focusable {
    float: left !important;
    background-image: url("../images/img.png"); }

div.align-right {
  margin-left: 15px; }
  div.align-right > .field--name-field-media-oembed-video {
    width: 480px;
    max-width: 100%; }

div.align-left {
  margin-right: 15px; }
  div.align-left > .field--name-field-media-oembed-video {
    width: 480px;
    max-width: 100%; }

div.align-center.embedded-entity {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

div.align-center > .field--name-field-media-oembed-video {
  width: 480px;
  height: 270px;
  padding: 0;
  max-width: 100%;
  margin: auto; }

div.align-center > .field--name-field-image {
  text-align: center; }

div.field--name-field-media-oembed-video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  div.field--name-field-media-oembed-video iframe.media-oembed-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px; }

body.layout-builder-on .ui-widget {
  font-family: inherit; }
  body.layout-builder-on .ui-widget input,
  body.layout-builder-on .ui-widget select,
  body.layout-builder-on .ui-widget textarea,
  body.layout-builder-on .ui-widget button {
    font-family: inherit; }

body.layout-builder-on .ui-widget-overlay {
  opacity: 0.7; }

body.layout-builder-on .js-hide {
  display: none !important; }

body.layout-builder-on small.description {
  font-size: 12px;
  line-height: 12px; }

body.layout-builder-on #layout-builder-modal {
  background: #f9f9f9; }
  body.layout-builder-on #layout-builder-modal .button--primary,
  body.layout-builder-on #layout-builder-modal .btn-primary {
    border-color: #00AAFF;
    background: #00AAFF;
    color: white; }
    body.layout-builder-on #layout-builder-modal .button--primary:hover, body.layout-builder-on #layout-builder-modal .button--primary:focus,
    body.layout-builder-on #layout-builder-modal .btn-primary:hover,
    body.layout-builder-on #layout-builder-modal .btn-primary:focus {
      color: #00AAFF;
      background: white; }
  body.layout-builder-on #layout-builder-modal .field--name-field-seeds-paragraph table thead,
  body.layout-builder-on #layout-builder-modal .field--name-field-seeds-paragraph table tr,
  body.layout-builder-on #layout-builder-modal .field--name-field-seeds-single-paragraph table thead,
  body.layout-builder-on #layout-builder-modal .field--name-field-seeds-single-paragraph table tr {
    background-color: transparent;
    color: inherit; }
  body.layout-builder-on #layout-builder-modal .form-group {
    padding: 0;
    margin: 8px 0; }
  body.layout-builder-on #layout-builder-modal .messages--error {
    background-color: transparent;
    color: #FF0066; }
  body.layout-builder-on #layout-builder-modal .horizontal-tabs,
  body.layout-builder-on #layout-builder-modal tr.draggable {
    border-color: #eee;
    background: white; }
  body.layout-builder-on #layout-builder-modal .form-item-settings-admin-label,
  body.layout-builder-on #layout-builder-modal h4.label {
    display: none; }
  body.layout-builder-on #layout-builder-modal .horizontal-tab-button a strong {
    color: #00AAFF;
    font-size: 14px; }
  body.layout-builder-on #layout-builder-modal .js-media-library-widget .fieldset-wrapper .field-prefix {
    float: unset; }
  body.layout-builder-on #layout-builder-modal .js-media-library-widget .fieldset-wrapper .field-suffix .form-submit {
    display: block;
    width: auto; }
    body.layout-builder-on #layout-builder-modal .js-media-library-widget .fieldset-wrapper .field-suffix .form-submit:hover, body.layout-builder-on #layout-builder-modal .js-media-library-widget .fieldset-wrapper .field-suffix .form-submit:focus {
      color: #00AAFF;
      background: white; }
  body.layout-builder-on #layout-builder-modal .js-media-library-widget .fieldset-wrapper small {
    margin: 8px 0;
    display: block; }
  body.layout-builder-on #layout-builder-modal .js-form-type-checkbox,
  body.layout-builder-on #layout-builder-modal .js-form-type-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 5px 0px; }
    body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="checkbox"],
    body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="radio"],
    body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="checkbox"],
    body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="radio"] {
      margin-left: 6px;
      -webkit-box-shadow: inset 0 0 0 3px #ffffff !important;
              box-shadow: inset 0 0 0 3px #ffffff !important; }
  body.layout-builder-on #layout-builder-modal .paragraph-type-top {
    padding: 0 !important;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    body.layout-builder-on #layout-builder-modal .paragraph-type-top .paragraph-type-title {
      display: none; }
  body.layout-builder-on #layout-builder-modal .paragraphs-dropbutton-wrapper .dropbutton-widget {
    border-color: transparent;
    background-color: transparent; }
  body.layout-builder-on #layout-builder-modal .paragraphs-dropbutton-wrapper button:not(.field-add-more-submit) {
    background-color: #FF0066;
    border-color: #FF0066;
    background-image: unset;
    color: white;
    width: 100%; }
    body.layout-builder-on #layout-builder-modal .paragraphs-dropbutton-wrapper button:not(.field-add-more-submit) .dropbutton-arrow {
      border-top-color: white; }
    body.layout-builder-on #layout-builder-modal .paragraphs-dropbutton-wrapper button:not(.field-add-more-submit):hover, body.layout-builder-on #layout-builder-modal .paragraphs-dropbutton-wrapper button:not(.field-add-more-submit):focus {
      background-color: white;
      color: #FF0066;
      background-image: unset; }
  body.layout-builder-on #layout-builder-modal a.tabledrag-handle .handle {
    width: 25px;
    height: 25px; }
  body.layout-builder-on #layout-builder-modal .form-composite > legend,
  body.layout-builder-on #layout-builder-modal label,
  body.layout-builder-on #layout-builder-modal .fieldset-legend {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px !important; }
  body.layout-builder-on #layout-builder-modal legend {
    position: relative;
    top: 0; }
  body.layout-builder-on #layout-builder-modal .layout-builder-add-block > .form-submit {
    border-color: #38D42D;
    background: #38D42D;
    color: white;
    margin: 0; }
    body.layout-builder-on #layout-builder-modal .layout-builder-add-block > .form-submit:hover, body.layout-builder-on #layout-builder-modal .layout-builder-add-block > .form-submit:focus {
      color: #38D42D;
      background: white; }

drupal-media .media-library-item__edit {
  font-size: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0;
  z-index: 1;
  cursor: pointer;
  background-color: #00aaff;
  background-image: url(../images/pencil.svg);
  -webkit-background-size: 16px 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 10;
  left: 10;
  margin: 5px; }

.js-media-library-widget .field-prefix {
  float: right; }

.js-media-library-widget .js-media-library-selection .js-media-library-item {
  position: relative;
  width: 50%;
  padding-bottom: 15px;
  border: 1px solid #ccc; }
  .js-media-library-widget .js-media-library-selection .js-media-library-item article {
    text-align: center; }
  .js-media-library-widget .js-media-library-selection .js-media-library-item .field--name-thumbnail {
    margin-bottom: 16px; }

.js-media-library-widget .js-media-library-selection button[value="Remove"],
.js-media-library-widget .js-media-library-selection .edit-media {
  background-position: center center !important;
  -webkit-background-size: 20px 20px !important;
          background-size: 20px !important;
  background-repeat: no-repeat !important;
  width: 38px;
  height: 38px;
  border: 0;
  outline: 0;
  top: 10px;
  margin: 5px;
  position: absolute;
  border-radius: 50%;
  font-size: 0; }
  .js-media-library-widget .js-media-library-selection button[value="Remove"][disabled],
  .js-media-library-widget .js-media-library-selection .edit-media[disabled] {
    background-color: #4d4d4f; }

.js-media-library-widget .js-media-library-selection button[value="Remove"] {
  background-image: url(../images/remove-icon.svg) !important;
  background-color: #FF0066 !important;
  right: 10px; }
  .js-media-library-widget .js-media-library-selection button[value="Remove"]:hover, .js-media-library-widget .js-media-library-selection button[value="Remove"]:focus {
    background-color: #FF0066 !important; }

.js-media-library-widget .js-media-library-selection .edit-media {
  background-image: url(../images/pencil.svg) !important;
  left: 10px;
  border-radius: 50%;
  padding: 0; }

.js-media-library-widget .js-media-library-selection .ajax-progress {
  display: none; }

#drupal-modal,
#media-library-add-form-wrapper {
  background-color: white; }
  #drupal-modal .media-image-edit-form .form-group,
  #drupal-modal .js-media-library-add-form .form-group,
  #media-library-add-form-wrapper .media-image-edit-form .form-group,
  #media-library-add-form-wrapper .js-media-library-add-form .form-group {
    padding: 0; }
  #drupal-modal .media-image-edit-form ul.list-group,
  #drupal-modal .js-media-library-add-form ul.list-group,
  #media-library-add-form-wrapper .media-image-edit-form ul.list-group,
  #media-library-add-form-wrapper .js-media-library-add-form ul.list-group {
    margin: 0 0 16px 0; }
  #drupal-modal .media-image-edit-form .js-form-type-checkbox,
  #drupal-modal .media-image-edit-form .js-form-type-radio,
  #drupal-modal .js-media-library-add-form .js-form-type-checkbox,
  #drupal-modal .js-media-library-add-form .js-form-type-radio,
  #media-library-add-form-wrapper .media-image-edit-form .js-form-type-checkbox,
  #media-library-add-form-wrapper .media-image-edit-form .js-form-type-radio,
  #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-checkbox,
  #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 8px 0; }
    #drupal-modal .media-image-edit-form .js-form-type-checkbox .form-check-input,
    #drupal-modal .media-image-edit-form .js-form-type-radio .form-check-input,
    #drupal-modal .js-media-library-add-form .js-form-type-checkbox .form-check-input,
    #drupal-modal .js-media-library-add-form .js-form-type-radio .form-check-input,
    #media-library-add-form-wrapper .media-image-edit-form .js-form-type-checkbox .form-check-input,
    #media-library-add-form-wrapper .media-image-edit-form .js-form-type-radio .form-check-input,
    #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-checkbox .form-check-input,
    #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-radio .form-check-input {
      margin-left: 0; }
    #drupal-modal .media-image-edit-form .js-form-type-checkbox small.description,
    #drupal-modal .media-image-edit-form .js-form-type-radio small.description,
    #drupal-modal .js-media-library-add-form .js-form-type-checkbox small.description,
    #drupal-modal .js-media-library-add-form .js-form-type-radio small.description,
    #media-library-add-form-wrapper .media-image-edit-form .js-form-type-checkbox small.description,
    #media-library-add-form-wrapper .media-image-edit-form .js-form-type-radio small.description,
    #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-checkbox small.description,
    #media-library-add-form-wrapper .js-media-library-add-form .js-form-type-radio small.description {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
          -ms-flex: 100%;
              flex: 100%; }

html[dir="rtl"] drupal-media .media-library-item__edit {
  left: auto;
  right: 10; }

button[value="Remove"] {
  background-color: #FF0066;
  border-color: #FF0066; }

drupal-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  drupal-media > div {
    width: 100%; }
    drupal-media > div > .field--name-field-media-oembed-video {
      width: 100%; }
  drupal-media > div[class] {
    width: auto; }
    drupal-media > div[class] > .field--name-field-media-oembed-video {
      width: 400px;
      max-width: 100%; }

drupal-media[data-align="left"] {
  float: left; }

drupal-media[data-align="right"] {
  float: right; }

drupal-url {
  display: inline-block; }

.caption {
  display: block; }

.field--name-field-seeds-style .fieldset-wrapper > .radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.field--name-field-seeds-style .js-form-type-radio {
  padding: 8px !important; }
  .field--name-field-seeds-style .js-form-type-radio input {
    display: none !important; }
  .field--name-field-seeds-style .js-form-type-radio input[value='block-teaser-left'] + label {
    background-image: url(../images/left.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='block-teaser'] + label {
    background-image: url(../images/teaser.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='block-teaser-right'] + label {
    background-image: url(../images/right.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='block-card'] + label {
    background-image: url(../images/card.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-lg-3'] + label {
    background-image: url(../images/desktop4.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-lg-4'] + label {
    background-image: url(../images/desktop3.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-lg-6'] + label {
    background-image: url(../images/desktop2.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-lg-12'] + label {
    background-image: url(../images/desktop1.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value*='col-md-4'] + label {
    background-image: url(../images/tablet3.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value*='col-md-6'] + label {
    background-image: url(../images/tablet2.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value*='col-md-12'] + label {
    background-image: url(../images/tablet1.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-xs-6'] + label {
    background-image: url(../images/mobile2.svg); }
  .field--name-field-seeds-style .js-form-type-radio input[value='col-xs-12'] + label {
    background-image: url(../images/mobile1.svg); }
  .field--name-field-seeds-style .js-form-type-radio input:checked + label {
    border: 3px solid #00AAFF; }
  .field--name-field-seeds-style .js-form-type-radio label {
    width: 145px;
    display: block;
    font-size: 0 !important;
    margin: 0 auto;
    height: 100px;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.login-box {
  background-image: url(../images/login-bg.png);
  -webkit-animation: slide 17s linear infinite;
  -o-animation: slide 17s linear infinite;
     animation: slide 17s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh; }
  .login-box .login-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .login-box .login-wrapper .form-group {
      padding: 0px; }
    .login-box .login-wrapper h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .login-box .login-wrapper label {
      margin-bottom: 0px; }
    .login-box .login-wrapper input {
      padding: 5px 10px;
      color: #333;
      margin-bottom: 8px; }
      .login-box .login-wrapper input:focus, .login-box .login-wrapper input:hover {
        color: #333; }
    .login-box .login-wrapper small {
      display: block;
      line-height: 1.2; }
    .login-box .login-wrapper .login-logo {
      width: 100px;
      height: 100px;
      margin: 30px auto;
      display: inline-block;
      background-image: url(../images/login-logo.svg);
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%; }
    .login-box .login-wrapper .disclaimer {
      font-size: 14px;
      font-style: italic; }
    .login-box .login-wrapper .form-actions .button {
      color: white;
      font-size: 18px;
      background-color: #38D42D;
      border-color: #38D42D;
      font-weight: normal;
      padding: 10px 50px;
      width: 100%; }
      .login-box .login-wrapper .form-actions .button:hover, .login-box .login-wrapper .form-actions .button:focus {
        opacity: 0.8;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        background-image: unset; }
    .login-box .login-wrapper > div {
      max-width: 350px; }
      .login-box .login-wrapper > div#login-box-middle-left {
        background-color: rgba(0, 170, 255, 0.6);
        padding: 90px 20px;
        color: #ffffff;
        line-height: 1.2;
        text-align: center; }
      .login-box .login-wrapper > div#login-box-middle-right {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.6); }
        .login-box .login-wrapper > div#login-box-middle-right a {
          font-size: 14px; }
  @media (max-width: 767.98px) {
    .login-box .login-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .login-box #login-box-middle-left,
    .login-box #login-box-middle-right {
      padding: 20px !important;
      margin: 0 auto; } }

@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: -400px 300px; } }

@media (max-width: 991px) {
  .navbar-brand {
    width: 80px; }
  .navbar-collapse {
    margin: 0px -20px;
    background: #4d4d4f; }
    .navbar-collapse > div,
    .navbar-collapse > nav {
      padding: 20px; } }

@media (min-width: 992px) {
  .navbar-toggler {
    display: none; }
  .navbar-brand {
    width: 120px; } }

.navbar-toggler {
  background: transparent;
  outline: 0;
  width: 45px;
  height: 45px;
  padding: 8px 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
     transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: none;
  margin-right: -15px; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler .icon-bar {
    display: block;
    position: absolute;
    left: 13px;
    height: 1px;
    margin: 0;
    width: 18px;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .navbar-toggler .icon-bar:nth-child(1) {
      top: 15px;
      -webkit-transform-origin: left center;
      -o-transform-origin: left center;
         transform-origin: left center; }
    .navbar-toggler .icon-bar:nth-child(2) {
      top: 22px;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out; }
    .navbar-toggler .icon-bar:nth-child(3) {
      top: 29px;
      -webkit-transform-origin: left center;
      -o-transform-origin: left center;
         transform-origin: left center; }
  .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
    top: 16px;
    left: 15px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg); }
  .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0; }
  .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
    top: 29px;
    left: 15px;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
       transform: rotate(-45deg); }

#navbar-main {
  background: #4d4d4f;
  padding: 0px; }

.site-footer {
  background: #4d4d4f; }

.toolbar-menu-administration.col-auto {
  padding: 0px; }

figure {
  position: relative; }
  figure > figcaption {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    font-style: italic; }

.toast-wrapper {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999; }
  .toast-wrapper .toast {
    max-width: 350px;
    min-width: 260px;
    background-color: white !important; }
    .toast-wrapper .toast .toast-header {
      border-color: #333333; }
      .toast-wrapper .toast .toast-header .close, .toast-wrapper .toast .toast-header strong {
        color: #333333;
        outline: 0; }
        .toast-wrapper .toast .toast-header .close span, .toast-wrapper .toast .toast-header strong span {
          color: #333333; }
      .toast-wrapper .toast .toast-header svg {
        display: none; }
      .toast-wrapper .toast .toast-header::before {
        content: '';
        display: block;
        background-position: center;
        -webkit-background-size: contain;
                background-size: contain;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        margin-right: 16px; }
    .toast-wrapper .toast .toast-body {
      color: #333333; }
    .toast-wrapper .toast.bg-success {
      border-left: 5px solid rgba(40, 167, 69, 0.6); }
      .toast-wrapper .toast.bg-success .toast-header::before {
        background-image: url(../images/success.svg); }
    .toast-wrapper .toast.bg-warning {
      border-left: 5px solid rgba(255, 193, 7, 0.6); }
      .toast-wrapper .toast.bg-warning .toast-header::before {
        background-image: url(../images/warning.svg); }
    .toast-wrapper .toast.bg-danger {
      border-left: 5px solid rgba(220, 53, 69, 0.6); }
      .toast-wrapper .toast.bg-danger .toast-header::before {
        background-image: url(../images/error.svg); }

.layout-builder-on .layout-main-wrapper .block-system-main-block > .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .layout-builder-on .layout-main-wrapper .block-system-main-block > .content > form {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 16px; }
  .layout-builder-on .layout-main-wrapper .block-system-main-block > .content #layout-builder {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }

.rtl body:not(.path-user) nav.tabs,
[dir="rtl"] body:not(.path-user) nav.tabs {
  left: 30px;
  right: auto; }

.rtl .toast-wrapper,
[dir="rtl"] .toast-wrapper {
  right: auto;
  left: 15px; }
  .rtl .toast-wrapper .toast .toast-header::before,
  [dir="rtl"] .toast-wrapper .toast .toast-header::before {
    margin-left: 15px;
    margin-right: 0; }

.rtl .view .contextual,
.rtl .node .contextual,
.rtl .taxonomy-term .contextual,
.rtl .block-content .contextual,
.rtl .field--name-field-image .contextual,
.rtl .field--name-field-media .contextual,
.rtl .field--name-field-media-2 .contextual,
.rtl .field--name-field-nbu-banner .contextual,
[dir="rtl"] .view .contextual,
[dir="rtl"] .node .contextual,
[dir="rtl"] .taxonomy-term .contextual,
[dir="rtl"] .block-content .contextual,
[dir="rtl"] .field--name-field-image .contextual,
[dir="rtl"] .field--name-field-media .contextual,
[dir="rtl"] .field--name-field-media-2 .contextual,
[dir="rtl"] .field--name-field-nbu-banner .contextual {
  right: auto;
  left: 0; }

.rtl div[class*="media"].field .contextual,
.rtl div[class*="image"].field .contextual,
.rtl .field--name-field-seeds-banner .contextual,
[dir="rtl"] div[class*="media"].field .contextual,
[dir="rtl"] div[class*="image"].field .contextual,
[dir="rtl"] .field--name-field-seeds-banner .contextual {
  right: 10px;
  left: auto; }
  .rtl div[class*="media"].field .contextual .trigger,
  .rtl div[class*="media"].field .contextual .focusable,
  .rtl div[class*="image"].field .contextual .trigger,
  .rtl div[class*="image"].field .contextual .focusable,
  .rtl .field--name-field-seeds-banner .contextual .trigger,
  .rtl .field--name-field-seeds-banner .contextual .focusable,
  [dir="rtl"] div[class*="media"].field .contextual .trigger,
  [dir="rtl"] div[class*="media"].field .contextual .focusable,
  [dir="rtl"] div[class*="image"].field .contextual .trigger,
  [dir="rtl"] div[class*="image"].field .contextual .focusable,
  [dir="rtl"] .field--name-field-seeds-banner .contextual .trigger,
  [dir="rtl"] .field--name-field-seeds-banner .contextual .focusable {
    float: right !important; }

.rtl body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="checkbox"],
.rtl body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="radio"],
.rtl body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="checkbox"],
.rtl body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="radio"],
[dir="rtl"] body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="checkbox"],
[dir="rtl"] body.layout-builder-on #layout-builder-modal .js-form-type-checkbox input[type="radio"],
[dir="rtl"] body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="checkbox"],
[dir="rtl"] body.layout-builder-on #layout-builder-modal .js-form-type-radio input[type="radio"] {
  margin-left: auto;
  margin-right: 6px; }
