$red: #FF0066;
$green: #38D42D;
$blue: #00AAFF;
$white: #FFFFFF;
.media-library-item--disabled {
    pointer-events: none;
    opacity: 0.5;
}
.media-library-widget-modal {
    .messages--error {
        background-color: transparent;
        color: $red;
    }

    #drupal-modal {
        padding: 0;

        #media-library-content {
            overflow: auto;
            padding: 32px 16px;
            background: #fff;
        }
    }

    #media-library-add-form-wrapper {
        padding: 16px;
        border: 1px solid #bfbfbf;
        border-radius: 2px;
        background: #fcfcfa;
        border-radius: 0;

        .form-type-managed-file {
            padding: 0;
            margin: 0px;
        }

        .form-item-upload {
            margin-bottom: 0;
        }
    }

    #media-library-view {
        .view-media-library {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .view-filters {
            flex: 0 0 auto !important;
            .views-exposed-form {
                .form-row {
                    align-items: flex-end;
                    margin: 0;
                    .js-form-item {
                        padding: 0px 8px 0px 0px;

                        select {
                            padding: 0 24px;
                        }
                    }
                    .form-submit {
                        background-color: $blue;
                        border-color: $blue;
                        color: #fff;
                    }
                }
            }
        }

        .view-header {
            margin: 16px 0;
            flex: 0 0 100%;
        }

        .view-content {
            flex: 0 0 100%;
            margin: 0;
            .views-form {
                width: 100%;
            }

            .js-media-library-views-form {
                display: flex;
                flex-wrap: wrap;

                .js-media-library-item {
                    flex-basis: auto;
                    flex-shrink: 1;
                    flex-grow: 1;
                    padding: 8px;
                    border: 1px solid #dbdbdb;
                    background-color: #ebebeb;
                    margin-right: 12px;
                    margin-bottom: 12px;
                    position: relative;

                    .views-field-media-library-select-form {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        z-index: 1;
                        .js-form-type-checkbox {
                            label {
                                display: none;
                            }
                        }
                    }
                }

                .form-actions {
                    flex-basis: 100%;
                    .form-submit {
                        background-color: $green;
                        border-color: $green;
                        color: $white;
                        &:hover,
                        &:focus {
                            background-color: #fff;
                            color: $green;
                        }
                    }
                }
            }

            .js-click-to-select-trigger {
                overflow: hidden;
                cursor: pointer;
                height: 100%;
                background-color: #ebebeb;

                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    height: 100%;
                }

                .field--name-thumbnail {
                    overflow: hidden;
                    text-align: center;
                    padding-bottom: 16px;
                }
            }
        }
        nav[aria-label="Page navigation"] {
            .pagination {
                margin: 0;
                .page-item {
                    .page-link {
                        border-color: transparent;
                        color: #757575;
                        &:hover,
                        &:focus {
                            background-color: transparent;
                        }
                    }
                    a {
                        span {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}
