// Layout Builder.
.node-layout-builder-form {
    #edit-actions {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        z-index: 501;
        background-color: $seeds;
        padding: 10px 0px;

        #edit-preview-toggle {
            display: none;
        }

        button,
        input {
            border: none;
            border-radius: 0;
            margin: 0px 5px;
            display: inline-block;
            width: auto;

            &#edit-submit {
                background-color: $green;
            }

            &#edit-discard-changes {
                background-color: $blue;
            }

            &#edit-revert {
                background-color: $red;
            }

            &:hover,
            &:focus {
                opacity: 0.8;
            }
        }
    }
}

.layout-builder-form {
    .js-form-item {
        padding: 0;
    }
}

.layout-builder {
    border: 0;
    padding: 0;
}

.layout-builder__section {
    padding: 0;
    margin-bottom: 0;
    .layout-builder__link--configure {
        margin-left: -1px;
        border-radius: 0px;
        background: url(../images/pencil.svg) $green center center/16px 16px no-repeat;
        text-indent: -9999px;
        display: inline-block;
        width: 26px;
        height: 26px;
    }
    > section {
        margin: 8px 0;
    }
}

.layout-builder__add-block {
    background-color: transparent;
    .layout-builder__link {
        position: relative;
        display: inline-block;
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
        padding: 6px 32px;

        &:after {
            width: 15px;
            height: 15px;
            content: "";
            background: url(../images/plus.svg) transparent center center/15px 15px no-repeat;
            display: block;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0px, -50%);
        }
        &:hover {
            background-color: transparent;
            color: $blue;
            &:after {
                background: url(../images/block-plus.svg) transparent center center/15px 15px no-repeat;
            }
        }
    }
}
.layout-builder__link--add {
    background: unset;
}
.layout-builder__link--remove {
    margin-left: -1px;
    border-radius: 0px;
    background: url(../images/ex.svg) $red center center / 16px 16px no-repeat;
    border: 0px;
}

.layout-builder__add-section {
    outline: 1px dashed #ccc;
    margin-bottom: 0;
    margin: 4px 0;
    padding: 16px 0;
    .layout-builder__link {
        border: 1px solid $green;
        background-color: $green;
        color: $white;
        position: relative;
        padding: 4px 32px;

        &:after {
            width: 15px;
            height: 15px;
            content: "";
            background: url(../images/plus.svg) transparent center center/15px 15px no-repeat;
            display: block;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0px, -50%);
        }
        &:hover {
            background-color: transparent;
            color: $green;
            &:after {
                background: url(../images/section-plus.svg) transparent center center/15px 15px no-repeat;
            }
        }
    }
}

.layout-builder__region {
    outline: 3px dashed $blue;
}
.layout-builder-block {
    background-color: transparent;
}
.layout-builder--content-preview-disabled .layout-builder-block {
    outline: 1px dashed #ccc;
    border: 0px;
}

.layout-builder__add-block.is-layout-builder-highlighted,
.layout-builder__add-section.is-layout-builder-highlighted,
.layout-builder__layout.is-layout-builder-highlighted:before,
.layout-builder__layout.is-layout-builder-highlighted,
.layout-builder-block.is-layout-builder-highlighted {
    border: 4px solid $green;
}
// Model fixes.
.ui-dialog.ui-corner-all {
    background: none;
    border: 0 !important;
    box-shadow: none;

    #drupal-off-canvas {
        top: 0 !important;
        position: relative;
        background-color: #f7f7f7;
        padding: 15px;

        & * {
            background-color: #f7f7f7;
            color: #333;
        }

        .inline-block-create-button {
            margin-bottom: 16px;
        }
        .inline-block-list__item {
            padding: 0;
            margin: 0;
        }
        .inline-block-create-button {
            margin: 0;
        }
        .form-text,
        .form-tel,
        .form-email,
        .form-url,
        .form-search,
        .form-number,
        .form-color,
        .form-file,
        .form-textarea,
        .form-date,
        .form-time {
            background: $white;
            $color: #333;
            box-shadow: unset;
            border: 1px solid #d2d2d2;
        }

        ul {
            li {
                border-bottom: 0;
            }
        }
        img {
            max-width: 70px;
        }
        details {
            &.form-wrapper {
                margin: 0;
                padding: 0;
            }
        }
        .js-form-type-checkbox,
        .js-form-type-radio {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 0;

            label {
                padding-left: 8px;
            }
        }

        .form-group {
            padding: 0px;
            width: 100%;
        }

        details,
        summary,
        .details-wrapper {
            margin: 0px -25px;
        }

        details[open] {
            > summary:hover {
                background-color: transparent;
                color: #333;
            }
        }

        form.layout-builder-configure-section {
            .form-wrapper {
                margin: 0px -10px;
                padding: 0px 20px;

                .details-wrapper {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .form-group,
            .form-wrapper {
                .form-check {
                    padding: 0;
                    margin: 10px 0px;

                    input,
                    label {
                        &.form-check {
                            width: 90%;
                        }

                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .js-form-type-select {
                    select {
                        width: 100%;
                    }
                }
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .ui-dialog-off-canvas {
            overflow: scroll;
        }

        ul {
            li {
                display: flex;
            }
        }

        a {
            color: $blue;
            text-align: center;
            font-size: 14px;

            &.use-ajax {
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;

                img,
                div {
                    display: inline-block;
                }

                div {
                    margin-left: 8px;
                }
            }
        }

        .glyphicon {
            display: none;
        }

        .ui-resizable-s {
            display: none !important;
        }

        button.button,
        input.button {
            position: relative;
            height: auto;
            padding: 6px 20px;
            border: 0;
            border-radius: 0;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            transition: background 0.5s ease;
            background: $blue;
            color: $white;
            margin-top: 15px;
            display: block;
            width: 100%;

            &:hover,
            &:focus {
                background: #333;
                color: $blue;
            }
        }
    }

    .ui-dialog-titlebar {
        padding: 16px;
        color: #fff;
        border: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
        background: #2d2d2d;
        font-weight: normal;

        .ui-button-icon-only,
        .ui-dialog-titlebar-close {
            background-image: url("../images/ex.svg");
            border: 0;
            background-position: center;
            background-color: transparent;
            width: 16px;
            height: 16px;

            .ui-icon-closethick {
                background-image: unset;
            }
        }
    }
}

// Tabs styling
body:not(.path-user) {
    nav.tabs {
        position: fixed;
        bottom: 50px;
        right: 30px;
        border-radius: 35px;
        z-index: 100;

        h2 {
            width: 70px;
            height: 70px;
            background: #333;
            border-radius: 35px;
            display: block;
            position: relative !important;
            text-indent: -30000px;
            margin: 0px;
            cursor: pointer;
            z-index: 100;

            &:after {
                width: 70px;
                height: 70px;
                content: "";
                background: url(../images/pencil.svg) transparent center center/30px 30px no-repeat;
                display: block;
                position: absolute;
                top: 0px;
            }
        }

        .primary.nav-tabs {
            display: none;
            position: absolute;
            bottom: 35px;
            background-color: $seeds;
            padding: 35px 0px 45px 0px;
            border: 0;
            z-index: 99;
            border-radius: 35px 35px 0px 0px;
            min-width: 70px;
            li {
                margin: 0;
                display: block;
                width: 100%;
                text-align: center;

                a {
                    font-size: 12px;
                    border: 0;
                    background-color: transparent;
                    padding: 10px 8px;
                    color: $white;

                    &:hover {
                        background-color: #444;
                    }
                }

                &.active {
                    a {
                        color: $blue;
                        text-align: center;
                    }
                }
            }
        }
    }
}

body.path-user {
    nav.tabs {
        display: none;
    }
}

// contextual links.
.contextual-region.focus {
    outline: 1px dashed #4d4d4f;
    outline-offset: 5px;
}

.view,
.node,
.taxonomy-term,
.block-content,
.field--name-field-image,
.field--name-field-media,
.field--name-field-seeds-banner {
    .contextual {
        top: 5px;
        right: 0px;
        z-index: 99;
    }
}

.block-views {
    > .contextual {
        display: none;
    }
}
.view {
    > .contextual {
        top: -25px;
        overflow: visible;

        .trigger {
            background-image: url("../images/view.png");
        }
    }
}

.node,
.taxonomy-term {
    header {
        > .contextual {
            display: none;
        }
    }

    > .contextual {
        .trigger {
            background-image: url("../images/node.png");
        }
    }
}

.block-content {
    .contextual {
        .trigger {
            background-image: url("../images/gears.png");
        }
    }
}

div[class*="media"].field,
div[class*="image"].field,
.field--name-field-seeds-banner {
    .contextual {
        left: 10px;
        right: auto;

        .trigger,
        .focusable {
            float: left !important;
            background-image: url("../images/img.png");
        }
    }
}

//CK Editor Embbed Style
div.align-right {
    margin-left: 15px;

    > .field--name-field-media-oembed-video {
        width: 480px;
        max-width: 100%;
    }
}

div.align-left {
    margin-right: 15px;

    > .field--name-field-media-oembed-video {
        width: 480px;
        max-width: 100%;
    }
}

div.align-center {
    &.embedded-entity {
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: flex-start;
    }

    > .field--name-field-media-oembed-video {
        width: 480px;
        height: 270px;
        padding: 0;
        max-width: 100%;
        margin: auto;
    }

    > .field--name-field-image {
        text-align: center;
    }
}

div.field--name-field-media-oembed-video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe.media-oembed-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px;
    }
}

// Layout Builder Modal.
body {
    &.layout-builder-on {
        .ui-widget {
            font-family: inherit;
            input,
            select,
            textarea,
            button {
                font-family: inherit;
            }
        }
        .ui-widget-overlay {
            opacity: 0.7;
        }
        .js-hide {
            display: none !important;
        }
        small.description {
            font-size: 12px;
            line-height: 12px;
        }
        #layout-builder-modal {
            background: $light-bg;
            .button--primary,
            .btn-primary {
                border-color: $blue;
                background: $blue;
                color: $white;
                &:hover,
                &:focus {
                    color: $blue;
                    background: $white;
                }
            }
            .field--name-field-seeds-paragraph,
            .field--name-field-seeds-single-paragraph {
                table {
                    thead,
                    tr {
                        background-color: transparent;
                        color: inherit;
                    }
                }
            }
            .form-group {
                padding: 0;
                margin: 8px 0;
            }

            .messages--error {
                background-color: transparent;
                color: $red;
            }

            .horizontal-tabs,
            tr.draggable {
                border-color: #eee;
                background: white;
            }

            .form-item-settings-admin-label,
            h4.label {
                display: none;
            }

            .horizontal-tab-button {
                a {
                    strong {
                        color: $blue;
                        font-size: 14px;
                    }
                }
            }
            .js-media-library-widget {
                .fieldset-wrapper {
                    .field-prefix {
                        float: unset;
                    }
                    .field-suffix {
                        .form-submit {
                            display: block;
                            width: auto;
                            &:hover,
                            &:focus {
                                color: $blue;
                                background: $white;
                            }
                        }
                    }
                    small {
                        margin: 8px 0;
                        display: block;
                    }
                }
            }
            .js-form-type-checkbox,
            .js-form-type-radio {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                padding: 5px 0px;
                input[type="checkbox"],
                input[type="radio"] {
                    margin-left: 6px;
                    box-shadow: inset 0 0 0 3px #ffffff !important;
                }
            }

            .paragraph-type-top {
                padding: 0 !important;
                justify-content: flex-end;
                .paragraph-type-title {
                    display: none;
                }
            }

            .paragraphs-dropbutton-wrapper {
                .dropbutton-widget {
                    border-color: transparent;
                    background-color: transparent;
                }

                button:not(.field-add-more-submit) {
                    background-color: $red;
                    border-color: $red;
                    background-image: unset;
                    color: $white;
                    width: 100%;
                    .dropbutton-arrow {
                        border-top-color: $white;
                    }

                    &:hover,
                    &:focus {
                        background-color: $white;
                        color: $red;
                        background-image: unset;
                    }
                }
            }

            a.tabledrag-handle {
                .handle {
                    width: 25px;
                    height: 25px;
                }
            }

            .form-composite > legend,
            label,
            .fieldset-legend {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding-left: 5px !important;
            }

            legend {
                position: relative;
                top: 0;
            }
            .layout-builder-add-block {
                > .form-submit {
                    border-color: $green;
                    background: $green;
                    color: $white;
                    margin: 0;
                    &:hover,
                    &:focus {
                        color: $green;
                        background: $white;
                    }
                }
            }
        }
    }
}

drupal-media {
    .media-library-item__edit {
        font-size: 0;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 0;
        z-index: 1;
        cursor: pointer;
        background-color: #00aaff;
        background-image: url(../images/pencil.svg);
        -webkit-background-size: 16px 16px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 10;
        left: 10;
        margin: 5px;
    }
}

.js-media-library-widget {
    .field-prefix {
        float: right;
    }

    .js-media-library-selection {
        .js-media-library-item {
            position: relative;
            width: 50%;
            padding-bottom: 15px;
            border: 1px solid #ccc;

            article {
                text-align: center;
            }

            .field--name-thumbnail {
                margin-bottom: 16px;
            }
        }

        button[value="Remove"],
        .edit-media {
            background-position: center center !important;
            background-size: 20px !important;
            background-repeat: no-repeat !important;
            width: 38px;
            height: 38px;
            border: 0;
            outline: 0;
            top: 10px;
            margin: 5px;
            position: absolute;
            border-radius: 50%;
            font-size: 0;

            &[disabled] {
                background-color: $seeds;
            }
        }

        button[value="Remove"] {
            background-image: url(../images/remove-icon.svg) !important;
            background-color: $red !important;
            right: 10px;
            &:hover,
            &:focus {
                background-color: $red !important;
            }
        }

        .edit-media {
            background-image: url(../images/pencil.svg) !important;
            left: 10px;
            border-radius: 50%;
            padding: 0;
        }

        .ajax-progress {
            display: none;
        }
    }
}

#drupal-modal,
#media-library-add-form-wrapper {
    background-color: $white;

    .media-image-edit-form,
    .js-media-library-add-form {
        .form-group {
            padding: 0;
        }

        ul.list-group {
            margin: 0 0 16px 0;
        }

        .js-form-type-checkbox,
        .js-form-type-radio {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding: 8px 0;

            .form-check-input {
                margin-left: 0;
            }

            small.description {
                flex: 100%;
            }
        }
    }
}

html[dir="rtl"] drupal-media .media-library-item__edit {
    left: auto;
    right: 10;
}

button[value="Remove"] {
    background-color: $red;
    border-color: $red;
}

drupal-media {
    display: flex;

    > div {
        width: 100%;

        > .field--name-field-media-oembed-video {
            width: 100%;
        }
    }

    > div[class] {
        width: auto;

        > .field--name-field-media-oembed-video {
            width: 400px;
            max-width: 100%;
        }
    }
}

drupal-media[data-align="left"] {
    float: left;
}

drupal-media[data-align="right"] {
    float: right;
}

drupal-url {
    display: inline-block;
}
.caption {
    display: block;
}
