.login-box {
    background-image: url(../images/login-bg.png);
    -webkit-animation: slide 17s linear infinite;
    animation: slide 17s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .login-wrapper {
        display: flex;
        justify-content: center;
        .form-group {
            padding: 0px;
        }
        h1 {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        label {
            margin-bottom: 0px;
        }
        input {
            padding: 5px 10px;
            color: #333;
            margin-bottom: 8px;
            &:focus,
            &:hover {
                color: #333;
            }
        }
        small {
            display: block;
            line-height: 1.2;
        }
        .login-logo {
            width: 100px;
            height: 100px;
            margin: 30px auto;
            display: inline-block;
            background-image: url(../images/login-logo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .disclaimer {
            font-size: 14px;
            font-style: italic;
        }
        .form-actions {
            .button {
                color: $white;
                font-size: 18px;
                background-color: $green;
                border-color: $green;
                font-weight: normal;
                padding: 10px 50px;
                width: 100%;
                &:hover,
                &:focus {
                    opacity: 0.8;
                    box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
                    background-image: unset;
                }
            }
        }
        > div {
            max-width: 350px;
            &#login-box-middle-left {
                background-color: rgba(0, 170, 255, 0.6);
                padding: 90px 20px;
                color: #ffffff;
                line-height: 1.2;
                text-align: center;
            }
            &#login-box-middle-right {
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.6);
                a {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 767.98px) {
        .login-wrapper {
            flex-direction: column;
        }
        #login-box-middle-left,
        #login-box-middle-right {
            padding: 20px !important;
            margin: 0 auto;
        }
    }
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 300px;
    }
}
