// Header.
@media (max-width: 991px) {
    .navbar-brand {
        width: 80px;
    }
    .navbar-collapse {
        margin: 0px -20px;
        background: $seeds;
        >div,
        >nav {
            padding: 20px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-brand {
        width: 120px;
    }
}

.navbar-toggler {
    background: transparent;
    outline: 0;
    width: 45px;
    height: 45px;
    padding: 8px 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 0;
    outline: none;
    margin-right: -15px;
    &:focus {
        outline: none;
    }
    .icon-bar {
        display: block;
        position: absolute;
        left: 13px;
        height: 1px;
        margin: 0;
        width: 18px;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 15px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 22px;
            transition: opacity .25s ease-in-out;
        }
        &:nth-child(3) {
            top: 29px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
    }
    &[aria-expanded="true"] {
        .icon-bar {
            &:nth-child(1) {
                top: 16px;
                left: 15px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 29px;
                left: 15px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}

#navbar-main {
    background: $seeds;
    padding: 0px;
}

// Footer.
.site-footer {
    background: $seeds;
}

// Seeds Toolbar fixes.
.toolbar-menu-administration.col-auto {
    padding: 0px;
}

// Styles.
figure {
    position: relative;
    >figcaption {
        position: absolute;
        background: rgba(255, 255, 255, .6);
        padding: 5px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        font-size: 14px;
        font-style: italic;
    }
}

  .toast-wrapper {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    .toast {
        max-width: 350px;
        min-width: 260px;
        background-color: $white !important;

        .toast-header {
            border-color:$black;

            .close, strong {
                color: $black;
                outline: 0;
                span {
                    color: $black;
                }
            }

            svg {
                display: none;
            }

            &::before {
                content: '';
                display: block;
                background-position: center;
                background-size: contain;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                margin-right: 16px;
            }
        }

        .toast-body {
            color: $black;
        }

        &.bg-success {
            border-left: 5px solid $bg-success;
            .toast-header {

                &::before {
                    background-image: url(../images/success.svg);
                }
            }
        }

        &.bg-warning {
            border-left: 5px solid $bg-warning;
            .toast-header {

                &::before {
                    background-image: url(../images/warning.svg);
                }
            }
        }

        &.bg-danger {
            border-left: 5px solid $bg-danger;
            .toast-header {

                &::before {
                    background-image: url(../images/error.svg);
                }
            }
        }
    }
  }
.layout-builder-on{
    .layout-main-wrapper {
        .block-system-main-block {
            > .content {
                display: flex;
                flex-wrap: wrap;
                >form {
                    order: 2;
                    width: 100%;
                    padding: 16px;
                }
                #layout-builder {
                    order: 1;
                    width: 100%;
                }
            }
        }
    }
}