.rtl,
[dir="rtl"] {
    body:not(.path-user) {
        nav.tabs {
            left: 30px;
            right: auto;
        }
    }
    .toast-wrapper {
        right: auto;
        left: 15px;  
        .toast {     
            .toast-header {
                &::before {
                    margin-left: 15px;
                    margin-right: 0;
                }
            }
        }
    }
    .view,
    .node,
    .taxonomy-term,
    .block-content,
    .field--name-field-image,
    .field--name-field-media,
    .field--name-field-media-2,
    .field--name-field-nbu-banner {
      .contextual {
        right: auto;
        left: 0;
      }
    }
    
    div[class*="media"].field,
    div[class*="image"].field,
    .field--name-field-seeds-banner {
        .contextual {
            right: 10px;
            left: auto;
            .trigger,
            .focusable {
                float: right !important;
            }
        }
    }
    // Layout Builder Modal.
    body {
        &.layout-builder-on {
            #layout-builder-modal {
                .js-form-type-checkbox,
                .js-form-type-radio {
                    input[type="checkbox"],
                    input[type="radio"] {
                        margin-left: auto;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}