$red: #FF0066;
$green: #38D42D;
$blue: #00AAFF;
$white: white;
$seeds: #4d4d4f;
$light-bg: #f9f9f9;
$black:#333333;
$bg-success:rgba(40, 167, 69, 0.6);
$bg-warning:rgba(255, 193, 7, 0.6);
$bg-danger:rgba(220, 53, 69, 0.6);
