.pagination {
    user-select: none;

    li {
        .page-link {
            border-color: $primary-color;
            background: $white;
            color: $primary-color;

            &:hover,
            &:focus {
                background-color: $primary-color;
                color: $white;
                box-shadow: none;
            }
        }

        &.active {
            .page-link,
            .page-link:hover {
                border-color: $primary-color;
                color: $white;
                background: $primary-color;
            }
        }
    }
}

.menu--seeds-social-media {
    margin: 0 -8px;

    a {
        display: inline-block;
        font-size: 0;
        padding: 5px 8px;

        &:before {
            position: relative;
            font-size: initial;
        }
    }
}

.webform-submission-form {
    @include form();
}

.form-inline {
    @include inline-form;
}
