@mixin image-shadow() {
    .field--name-field-image {
        position: relative;

        &:after {
            content: "";
            background-color: rgba($color: #000000, $alpha: 0.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@mixin equal-height() {
    display: flex;
    flex-wrap: wrap;
}

@mixin fontawesome($content,$psuedo: 'before') {
    &::#{$psuedo} {
        content: $content;
        font-family: 'FontAwesome';
        font-weight: 400;
    }
}

// Helper classes for forms.
@mixin inline-form($gutter: 5px, $break: 761px) {
    @extend .form-inline;
    margin: 0 -$gutter;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .col-auto {
        flex: 1;
    }
    .form-group {
        padding: $gutter;
        @media (max-width: $break) { /* stylelint-disable-line */ 
            flex: 100%;
        }
    }
    .form-control {
        margin: 0;
        width: 100%;
    }
}

@mixin form($gutter: 15px, $min-width: 180px) {
    .form-group {
        padding: 0;
        input[type="submit"] {
            width: auto;
        }
    }
    @for $i from 2 through 4 {
        .form-#{$i}col {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -$gutter;
            margin-bottom: $gutter;
            .form-group {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: #{(100 / $i)}#{"%"};
                padding: 0 $gutter;
                min-width: $min-width;
            }
        }
    }
}

@function get-ratio-percentage($width, $height) {
    $ratio: $width/$height;
    $percentage: 1 / $ratio;
    @return $percentage * 100%;
}

%blazy-image {
    position: relative;
    img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

%center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
}

%absolute-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/**
    Use this mixin to with seeds_coat responsive images to support aspect ratio for blazy. ex:
    ```
    .node--type-article {
        @include responsive-image-blazy(
            ('w':1200,'h':900),
            ('w':900,'h':600),
            ('w':400,'h':400)
        );
    }
    ```
    Use this website to figure out the percentages: https://codepen.io/onge/pen/MaqwBK

*/
@mixin responsive-image-blazy($lg, $md, $sm) {
    .media--responsive {
        @extend %blazy-image;
        padding-top: get-ratio-percentage(map-get($lg, "w"), map-get($lg, "h"));
        @include media-breakpoint-down(lg) {
            padding-top: get-ratio-percentage(map-get($md, "w"), map-get($md, "h"));
        }
        @include media-breakpoint-down(md) {
            padding-top: get-ratio-percentage(map-get($sm, "w"), map-get($sm, "h"));
        }
    }
}