 {% set background_color = background_color ? create_attribute(background_color): "" %}
 {% set background_image = logo ? create_attribute(logo): "" %}
<div id="login-box" class="login-box">
  <div class = "login-wrapper">
    <div id="login-box-middle-left" {{background_color }}>
        <a href="{{ url('<front>') }}">
					<span class="login-logo" {{background_image }} ></span>
        </a>
					<p class="disclaimer">{{ 'This system is for the use of authorized users only. Individuals using this system without authority
					       are subject to criminal activity.'|t }}</p>
    </div>

    <div id="login-box-middle-right">
      {{ messages }}
      {{ page.content }}
      <div id="login-pass">
        <div class="password-link">
          <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
